<div id = "contact-container">
    <div id = "contact">
        <h1>Contact</h1>
        <p>I can be reached at the following email: <b><a href="mailto:sama.heshmatzadeh@gmail.com">sama.heshmatzadeh&#64;gmail.com</a></b></p>
        <p>Feel free to contact with me on any of the following platforms:</p>
    </div>
    <div id = "social-media">
        <a href="//linkedin.com/in/sama-heshmatzadeh/" target="_blank" class="inline">
            <img style = " margin-left: 7px;margin-top: 12px;" src="../../../assets/images/linkedin2.jpeg" width="32px" height="32">
            <h3 style = "margin-top: 14px;">LinkedIn</h3>
        </a>
        <hr>
        <a href="//github.com/samanehesh/" target="_blank" class="inline">
            <img src="../../../assets/images/github.jpeg" width="42px" height="32">
            <h3>GitHub</h3>
        </a>
        <!-- <hr> -->
        <!-- <a class= "circle" href="//facebook.com" target="_blank" class="inline">
            <img src="../../../assets/images/facebook2.jpeg" width="52px" height="42">
            <h3>Facebook</h3>
        </a> -->
    </div>
</div>