<h3>Categories</h3>
<article id="categories">

  <div *ngFor="let category of categories" >
    <a [ngClass]="{'redish': category.slug === 'back-end', 
    'blueish': category.slug === 'full-stack',
    'greenish':category.slug === 'front-end',            
}" 
    href = 
            "/projects/categories/{{category.slug}}"
          >
          {{ category.name }}
        </a>
  </div>
</article>

<!-- <h3>Categories</h3>
<article id="categories">

  <div *ngFor="let category of categories">
    <label>
      <input type="radio" name="category" [(ngModel)]="selectedCategory" [value]="category.slug">
      {{ category.name }}
    </label>
  </div>

</article> -->


