a {
    color: black; /* Set the desired default font color */
    text-decoration: none;

}

.redish{
    color:rgb(154, 72, 72);
}
.blueish{
    color:rgb(74, 127, 219);
}
.greenish{
    color:rgb(50, 137, 67);
}