<h3>Categories</h3>
<article id="categories">

  <div *ngFor="let category of categories" >
    <a href = 
            "/projects/categories/{{category.slug}}"
          >
          {{ category.name }}
        </a>
  </div>
</article>

<!-- <h3>Categories</h3>
<article id="categories">

  <div *ngFor="let category of categories">
    <label>
      <input type="radio" name="category" [(ngModel)]="selectedCategory" [value]="category.slug">
      {{ category.name }}
    </label>
  </div>

</article> -->


