<div id = "about-container" >
    <div>About Me</div>
    <div id = "image-div">
        <img src="../../../assets/images/samaneh.jpg" alt="Samaneh-Pic">
    </div >
    <div id = "text-div" style="margin-top: 20px;">
        <p>As a budding software developer with a background in Control Systems Engineering, 
            I am currently enrolled in the Software Systems Development Program at BCIT. 
            This program is intensive and comprehensive, covering a wide range of fundamental 
            topics including HTML, CSS, JavaScript, Angular, React, Vue, SQL, NoSQL, NodeJS, and .NET.</p>
        <p>Throughout this program, I have engaged in numerous projects that have allowed me to 
            apply and expand my skills in software development. From creating dynamic web 
            applications to implementing database solutions, I have gained practical experience 
            in various technologies and methodologies.</p>
        <!-- <p>With a solid foundation in both engineering principles and software development, 
            I am eager to transition into a software development position in the near future. 
            I am excited to contribute my expertise and continue learning and growing in this dynamic 
            field.</p> -->
        <!-- <p>To explore more about my projects, feel free to click the button below.</p> -->

    </div>

    <section >
        <button (click)="Explore()">Explore My Projects</button>
    </section>
</div>


