<div id = "project-Page-Wrapper">
  <section id = "allProjects">

    <article class = "oneProject" *ngFor="let project of projects">
      <section id = "exsection">
        <p id = "title">{{ project.title | uppercase }}</p>
        <p id ="excerpt" >{{ project.excerpt }}</p>
      </section>
      <section id = "button-more-info">
        <a href="/projects/{{ project.slug }}">More Info</a>
      </section>
    
      <footer class="card-footer">
        <div *ngIf="project.category && project.category.name">
          <!-- Category:  -->
          <a [ngClass]="{'redish': project.category.slug === 'back-end', 
                        'blueish': project.category.slug === 'full-stack',
                        'greenish': project.category.slug === 'front-end',            
          }" 
          href="/projects/categories/{{project.category.slug}}">
            {{ project.category.name }}
          </a>
        </div>
        <div *ngIf="project.tags && project.tags.length > 0">
          <!-- Tags: -->
          <span *ngFor="let tag of project.tags" >

            <a [ngClass]="{'red': tag.slug === 'sql', 
                          'blue': tag.slug === 'javascript',
                          'orange': tag.slug === 'css',
                          'green': tag.slug === 'nodejs',
                          'yellow': tag.slug === 'react',
                          'indigo': tag.slug === 'html',
                          'violet': tag.slug === 'csharp',
                          'orangee': tag.slug === 'mongo',
                          'redi': tag.slug === 'angular',                         
                          }" 
                          href = "/projects/tags/{{tag.slug}}"
      
          >
          {{ tag.name }}
        </a>
          </span>
        </div>
      </footer>
  
    </article>
  </section>
  
  <section id = "filters">
  
    <article >
      <p>Filter:</p>
      <button (click) = "navigateToProjects()"> {{ Urlsegment | uppercase}} 🗑️</button>
    </article>
  
    <article>
      <app-categories
    ></app-categories>
    </article>
  
    <article>
      <app-tags
    ></app-tags>
    </article>
  
  </section>
</div>
