
#project-Page-Wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto; /* Adjust row height based on content */

}
#allProjects{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20px, min-content); /* Set minimum height for rows */
}

#search-div{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    & input{
        margin-bottom: 10px;
        margin-right: 5px;
        // margin-top: 5px;

    }

    & #button-search, #button-back{
        margin-right: 5px;
        margin-bottom: 5px;
        align-content: center;
        text-align: center;
        width: 60px;
        background-color: rgb(128, 128, 139);
        border: 1px solid rgb(188, 166, 208);;
        border-radius: 3px;
        height: 26px;

        & a{
            padding-top: 6px;
            font-size:small;
            color:white;
            &:hover{
                color: black;
            }
        }
    }
    
}
.message {
    width: 100%; /* Make the message div occupy the entire width */
    margin-top: 10px; /* Add some margin for spacing */
  }
a {
    text-decoration: none;
}
p{
    font-family:  serif;
}
#excerpt{
    font-size: 17px;
    font-style: italic;
}
#title{
    font-size: 20px;
    font-style: bold;
    font-family:Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(70, 67, 67);
}


#allProjects article{
    border: 1px solid rgb(139, 136, 136);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 14px 13px 10px rgba(136, 135, 135, 0.1);
    min-height: 200px;
    & #img{
        display: none;
    }
    & hr{
        display: none;
    }

}
#filters{
    justify-self: right;
    align-self: right;
    background-color:rgb(231, 229, 229);
    margin-top: 18px;
    padding-right: 10px;
    border-radius:5px ;
    text-align: right;
    width: 140px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.oneProject{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; /* Rows adjust height to fit content */
    background-color:rgb(248, 247, 247);
    &:hover {
        transform: scale(1.03);
    }

    & #button-more-info{
        justify-self: center;
        align-self: center;
        & a{
            background-color: rgb(128, 128, 139);
            border: 1px solid rgb(188, 166, 208);;
            border-radius: 3px;
            height: 25px;
            font-size:small;
            padding: 5px;
            color:white;
            &:hover{
                color: black;
            }
        }
    }
    & #excerpt{
        display: none;
    }
}

.card-footer{
    margin-top: 10px;
    justify-self: start;
    & div{
        margin: 10px;
    }
    & a{
        border: 1px solid rgb(188, 166, 208);
        border-radius: 3px;
        height: 25px;
        font-size:small;
        padding: 5px;
        margin-right: 2px;
        color: white;
        &:hover{
            color: black;

        }
    }
}

#projects-tag{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line when there's no more space */
& span {
    margin-bottom: 10px;
}
}


@media (min-width: 760px) {

    #project-Page-Wrapper{
        grid-template-columns: 5fr 1fr;
    }
    #filters:hover{
        margin-right: 20px;
    }
    #allProjects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & > :nth-child(1) {
            grid-column: span 2; /* This will make the element cover two columns */
        }
    & article{
        height: 400px;
        & #img{
            display: block;
            display: flex;
            justify-content: center;
        }
        & hr{
            display: block;
        }

    }
    }
    #exsection{
        overflow: hidden;
    }
    .oneProject{
        grid-template-rows:80px 170px  1fr 1fr;


        & #button-more-info{
            justify-self: right;
            align-self: flex-end;
        }
        &:hover {
            transform: scale(1.03);
        }
        & #excerpt{
            display: block;
        }
    }
}

@media (min-width: 1000px) {
    #allProjects{
        grid-template-columns: repeat(3, 1fr);
        & > :nth-child(1) {
            grid-column: span 3; /* This will make the element cover two columns */
        }
    }
}
