<div id = "project-Page-Wrapper">
  <section id = "allProjects">

    <!-- <article class="oneProject" *ngFor="let project of projects" [style.background-image]="project?.image?.[0] ? 'url(assets/images/' + project?.image?.[0] + ')' : ''"> -->
    <article class="oneProject" *ngFor="let project of projects">
      <section id = "img">
        <img [src]="'assets/images/' + project?.image?.[0]" [alt]="'Image'" style="height: 100px;width: 90%;"> 
      </section>
      <section style="margin-top: 15px;" id = "exsection">
        <hr>
        <p style="margin-bottom: 20px;"id = "title">{{ project.title | uppercase }}</p>
        <p id ="excerpt" >{{ project.excerpt }}</p>
      </section>
      <section id = "button-more-info">
        <a href="/projects/{{ project.slug }}">More Info</a>
      </section>
    
      <footer class="card-footer">
        <div *ngIf="project.category && project.category.name">
          <!-- Category:  -->
          <a [ngStyle]="{'background-color': project.category.color}"  
          href="/projects/categories/{{project.category.slug}}">
            {{ project.category.name }}
          </a>
        </div>
        <div *ngIf="project.tags && project.tags.length > 0">
          <!-- Tags: -->
          <span *ngFor="let tag of project.tags" >

            <a [ngStyle]="{'background-color': tag.color}" 
                          href = "/projects/tags/{{tag.slug}}"
      
          >
          {{ tag.name }}
        </a>
          </span>
        </div>
      </footer>
  
    </article>
  </section>
  
  <section id = "filters">
  
    <article style="margin-top: 20px;" >
      <p>Filter:</p>
      <button (click) = "navigateToProjects()"> {{ Urlsegment | uppercase}} 🗑️</button>
    </article>
  
    <article style="margin-top: 20px;">
      <app-categories
    ></app-categories>
    </article>
  
    <article style="margin-top: 20px;">
      <app-tags
    ></app-tags>
    </article>
  
  </section>
</div>
