
#project-Page-Wrapper{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
#allProjects{
    display: grid;
    grid-template-columns: 1fr;
}
a {
    text-decoration: none;
}
p{
    font-family:  serif;
}
#excerpt{
    font-size: 17px;
    font-style: italic;
}
#title{
    font-size: 20px;
    font-style: bold;
    font-family:Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(70, 67, 67);
}


#allProjects article{
    border: 1px solid rgb(139, 136, 136);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 14px 13px 10px rgba(136, 135, 135, 0.1);
    min-height: 50px;
    height: 200px;
    & #img{
        display: none;
    }
    & hr{
        display: none;
    }

}
#filters{
    justify-self: right;
    align-self: right;
    background-color:rgb(231, 229, 229);
    margin-top: 18px;
    padding-right: 10px;
    border-radius:5px ;
    text-align: right;
    width: 130px;
    height: 100vh;
    &:hover {
        transform: scale(1.03);
        // transform: translateZ(1000px); /* Move the element forward by 10 pixels on hover */
    }
  }

.oneProject{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
    // background-color:rgb(217, 213, 213);
    // background-color:rgb(231, 229, 229);
    background-color:rgb(248, 247, 247);
    &:hover {
        transform: scale(1.03);
        // transform: translateZ(1000px); /* Move the element forward by 10 pixels on hover */
    }

    & #button-more-info{
        // grid-row: 2;
        justify-self: center;
        align-self: center;
        & a{
            background-color: rgb(128, 128, 139);
            border: 1px solid rgb(188, 166, 208);;
            border-radius: 3px;
            height: 25px;
            font-size:small;
            padding: 5px;
            color:white;
            &:hover{
                color: black;
            }
        }

    }
    & #excerpt{
        display: none;
    }
}

.card-footer{
    margin-top: 10px;
    // align-self: end; /* Aligns the item to the bottom */
    justify-self: start;
    & div{
        margin: 10px;
    }
    & a{
        border: 1px solid rgb(188, 166, 208);
        border-radius: 3px;
        height: 25px;
        font-size:small;
        padding: 5px;
        margin-right: 2px;
        color: white;
        &:hover{
            color: black;

        }
    }
}


@media (min-width: 760px) {
    #filters:hover{
            margin-right: 20px;
    }
    #allProjects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    & article{
        height: 400px;
        // max-height: 200px;
        & #img{
            display: block;
            display: flex;
            justify-content: center;
        }
        & hr{
            display: block;
        }

    }
    }
    #exsection{
        overflow: hidden;
    }
    .oneProject{
        grid-template-rows:80px 170px  1fr 1fr;
        // transition: transform 0.3s ease; /* Add a transition for the transform property */
        // perspective: 1000px; /* Set the perspective for the 3D effect */

        & #button-more-info{
            justify-self: right;
            align-self: flex-end;
        }
        &:hover {
            transform: scale(1.03);
            // transform: translateZ(1000px); /* Move the element forward by 10 pixels on hover */
        }
        & #excerpt{
            display: block;
        }
    }
}

@media (min-width: 1000px) {
    #allProjects{
        grid-template-columns: repeat(3, 1fr);
    }
}
