<div [ngClass]="'bodyWrapper'">
<header>
  <div>
    <h1>{{name}} {{title }}</h1>
  </div>
  <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/projects"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Projects</a
          >
        </li>
        <li>
          <a
            routerLink="/categories"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Categories</a
          >
        </li>
        <li>
          <a
            routerLink="/tags"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Tags</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <main [ngClass]="'mainWrapper'">
    <!-- <section *ngIf="!selectedProject">
      <app-projects id = "projects"
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)"
      (newSelectedProjectEvent)="setSelectedProject($event)">
      </app-projects>
    </section>

    <section id="project" *ngIf="selectedProject">
      <button (click)="clearSelectedProject()">Back</button>
      <app-project [project]="selectedProject"></app-project>
    </section> -->
    <router-outlet></router-outlet>

  
  <section id = "filters">
    <article *ngIf="categoryFilter || tagFilter">
      <p>Filter:</p>
      <button (click)="clearFilters()">{{categoryFilter?.name || tagFilter?.name}} 🗑️</button>
    </article>

    <article>
      <app-categories
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
    ></app-categories>
    </article>

    <article>
      <app-tags
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)"
    ></app-tags>
    </article>

  </section>
  
  </main>

  <footer>
    &copy; {{name}} - {{year}}
  </footer>
  

</div>





