*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
}
P{
    font-family: 'Times New Roman', Times, serif;
}
#name{
    font-size: 30px;
}
#title{
    font-size: 20px;
    font-style: italic;
}

.bodyWrapper{
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-rows: 200px 1fr 100px;
}
//header**************************************
header{
    grid-row: 1;
    background-color:white;
    margin-bottom: 50px;
    display: grid;
    // grid-template-rows: 2;
	// grid-template-columns: 1;
    grid-template-rows: 135px 45px;
    width: 100%;
    & #name-title{
        grid-row: 1;
        background-color:white;
        text-align: center;
    }
}

nav {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	background-color: blue;

    & ul {
	padding: 0;
	margin: 0;
	list-style: none;
    }
    & a {
        text-decoration: none;
        padding: 0 10px;
        display: block;
        border-right: none;
        color: white;
        border-bottom: none;
        border-top: 2px solid white;
        line-height: 40px;
        &:hover
        {
        outline: none;
        background-color: red;
        color: white;
        }
    }
    &.activated {
        transition: height 1s ease, visibility 0s 0.3s;
    }
    .show & {
        transition: height 1s ease, visibility 0s;
        visibility: visible;
        height: 210px;
    }
}

main{
    grid-row: 2;
}

footer{
    grid-row: 3;
    align-self: self-end;
    margin: 10px;
    justify-self: right;
}

#social-media{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

@media (min-width: 760px) {
    nav {
        visibility: visible;
        height: 44px;
        background-color:rgb(231, 229, 229);
        box-shadow: 6px 8px 4px rgba(184, 182, 182, 0.1); 
        ul {
            display: flex;
        }
        li {
            flex: 1;
        }
        a{
            color: black;
            text-decoration: none;
            line-height: 42px;
            text-align: center;
                
        &:hover
        // &:active,
         {
        background-color:white;
        color: black;
        outline: none;
        }
    }
}
}

/* Styling hamburger button for mobile view */

.btn-menu {
	margin: 0 20px 20px 0;
	display: block;
	width: 40px;
	background-color: transparent;
	border: none;
	padding: 0;
    & .button-content {
        display: block;
        height: 100%;
        cursor: pointer;
    }
    & .text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    /*Implemented transition*/
    & .bar {
        display: block;
        height: 4px;
        background-color: grey;
        width: 100%;
        position: relative;
        top: 10px;
        transition: all 0.3s ease-in-out;
    }
    & .bar:before {
        content: "";
        width: 100%;
        height: 4px;
        top: 10px;
        left: 0;
        background-color: grey;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    & .bar:after {
        content: "";
        width: 100%;
        height: 4px;
        top: -10px;
        left: 0;
        background-color: grey;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    &:focus {
        outline: none;
        & .button-content {
            outline: 5px solid #7683c9;
        }
    }
    .show & .bar {
        background-color: transparent;
    }
    /* Implemented transform */
    .show & .bar:before {
        top: 0;
        transform: rotate(45deg);
    }
    .show & .bar:after {
        top: 0;
        transform: rotate(-45deg);
    }

}
  
@media (min-width: 760px) {
    .btn-menu {
        display: none;
    }
}

