*,
*:before,
*:after {
  box-sizing: border-box;
}

P{
    font-family: 'Times New Roman', Times, serif;
}
#name{
    font-size: 30px;
}
#title{
    font-size: 20px;
    font-style: italic;
}

#bodyWrapper{
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-rows: 3;
    & >main{
        grid-row: 2;

    }

    & >footer{
        grid-row: 3;
        align-self: self-end;
        text-align: end;
        justify-self: right;
        width: 100%;
        padding: 10px;
    }
}
//header**************************************
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header stays on top */
    /* Add other styles as needed */
}
#mainWrapper{
    padding-top: 120px;
    transition: padding-top 0.8s ease; /* Add transition for smooth animation */

}
#mainWrapper.nav-open {
    padding-top: 340px; /* Adjust padding-top when nav is open */
}

header{
    grid-row: 1;
    background-color:white;
    display: grid;

    width: 100%;
    & #home-media{
        grid-row: 1;
        height: 55px;
        background-color:white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10px;
        & img:hover{
            transform: scale(1.03);
        }
    }
}


nav {
    grid-row: 3;
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	background-color: rgb(74, 74, 232);

    & ul {
	padding: 0;
	margin: 0;
	list-style: none;
    & li:hover{
        background-color: rgb(207, 207, 217);

    }
    
    }
    & a {
        text-decoration: none;
        padding: 0 10px;
        display: block;
        border-right: none;
        color: white;
        border-bottom: none;
        border-top: 2px solid white;
        line-height: 40px;
        &:hover
        {
        outline: none;
        color: white;
        }
    }
    &.activated {
        transition: height 1s ease, visibility 0s 0.3s;
    }
    &.show{
        transition: height 1s ease, visibility 0s ;
        visibility: visible;
        height: 210px;
    }

}

/* Styling hamburger button for mobile view */

.btn-menu {
    grid-row: 2;
    height: 45px;

	margin: 0 20px 20px 0;
	display: block;
	width: 40px;
	background-color: transparent;
	border: none;
	padding: 0;
    & .button-content {
        display: block;
        height: 100%;
        cursor: pointer;
    }
    & .text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    /*Implemented transition*/
    & .bar {
        display: block;
        height: 4px;
        background-color: grey;
        width: 100%;
        position: relative;
        top: 10px;
        transition: all 0.3s ease-in-out;
    }
    & .bar:before {
        content: "";
        width: 100%;
        height: 4px;
        top: 10px;
        left: 0;
        background-color: grey;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    & .bar:after {
        content: "";
        width: 100%;
        height: 4px;
        top: -10px;
        left: 0;
        background-color: grey;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    &:focus {
        outline: none;
        & .button-content {
            height: 25px;
        }
    }

    &.show .bar:after{
        top: 0;
        transform: rotate(-45deg);
    }
    &.show .bar:before{
        top: 0;
        transform: rotate(45deg);
    }
    &.show .bar{
        background-color: transparent;

    }

}




@media (min-width: 760px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Ensure the header stays on top */
        /* Add other styles as needed */
    }
    #mainWrapper,
    #mainWrapper.nav-open {
        padding-top: 10px; /* Adjust padding-top when nav is open */
    }
  
    .btn-menu {
        display: none;
        height: 0;
    }
    #bodyWrapper{
        grid-template-rows: 100px 1fr 100px;
    
     }

    nav {
        visibility: visible;
        height: 45px;
        background-color:rgb(231, 229, 229);
        box-shadow: 6px 8px 4px rgba(184, 182, 182, 0.1); 
        ul {
            display: flex;
        }
        li {
            flex: 1;
        }
        a{
            color: black;
            text-decoration: none;
            line-height: 42px;
            text-align: center;
                
        &:hover{
        background-color:white;
        color: black;
        outline: none;
        }
    }
}
}


  

