*,
*:before,
*:after {
  box-sizing: border-box;
}

.bodyWrapper{
    width: 100%;
   padding: 20px;
   height: 100vh;
   display: grid;
   grid-template-rows: 100px 1fr 100px;
}
header{
    grid-row: 1;
}
main{
    grid-row: 2;
}
footer{
    grid-row: 3;
    justify-self: right;
    align-self: self-end;
}

.hidden{
    display: none;
}

// .active{
//     background-color: rgb(125, 134, 134);
// }