.hidden {
    display: none;
}
a {
    color: black; /* Set the desired default font color */
}
article{
    border: 1px solid rgb(139, 136, 136);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 14px 13px 10px rgb(21 21 21 / 10%);
    height: 500px;
    // width: 200px;
    // text-align: center;
}
.hidden {
    display: none;
}
.oneProject{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3fr 1fr;
}
img{
    min-width: 100%;
    width: 90%;
    border-radius: 5px;
    // height: 20%;
}
footer{
    align-self: end; /* Aligns the item to the bottom */
    justify-self: start;
}

