#project-container{
    display: flex;
    // align-items: center;
    justify-content: center;
}
a {
    color: black; /* Set the desired default font color */
    text-decoration: none;
}
p{
    font-family:  serif;
}
article{
    border: 1px solid rgb(139, 136, 136);
    margin: 20px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 14px 13px 10px rgb(21 21 21 / 10%);
    // min-height: 500px;
    // width: 200px;
    // text-align: center;
}

.oneProject{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 60px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    background-color:rgb(217, 213, 213);

}
img{
    // min-width: 100%;
    // width: 90%;
    // // max-height: 400px;
    // // object-position: top; /* Show the upper part of the image */

    // // height: 30%;
    // // overflow: hidden;
    // border-radius: 5px;
    // // object-fit: cover; /* Crop the image while preserving its aspect ratio */

    // height: 20%;
    width: 30%; /* Adjust the percentage as needed */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 5px; /* Optional: Add border-radius */
    display: block; /* Ensure it's a block-level element */
    margin-left: auto; /* Auto margin on the left */
    margin-right: auto; /* Auto margin on the right */
}
article footer{
    align-self: end; /* Aligns the item to the bottom */
    justify-self: start;
    & a{
        // background-color: rgb(128, 128, 139);
        // border: 1px solid rgb(188, 166, 208);;
        border-radius: 3px;
        height: 25px;
        font-size:small;
        padding: 5px;
        color:white;
            &:hover{
        color: black;
    }
    }

}
@media (min-width: 760px) {
    article{
        width: 40%;

    }

}

