<div id = "project-container">
  <!-- <div>
    <button type="button" (click)="goBack()">Back</button>
  </div> -->
  <article class = "oneProject">
    <ngb-carousel *ngIf="project && project.image && project.image.length > 0">
      <ng-template ngFor let-image [ngForOf]="project.image">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="'assets/images/' + image" [alt]="'Image'" style="width: 10%; max-height: 70px;">
          </div>
        </ng-template>
      </ng-template>
    </ngb-carousel>

      <!-- <section *ngFor="let image of project?.image">
        <img 
        *ngIf="project?.image"
        [src]="'assets/images/' + project?.image" 
        alt="Image of {{ project?.title }}"
      />
      </section>  -->
      <section class="project-card">
        <div>
          <p id = "title" style="text-align: center; ">{{ project?.title | uppercase }}</p>
          <p>{{ project?.excerpt }} </p>
          <p [innerHTML]="project?.body"></p>
        </div>
        <footer>
          <div *ngIf="project?.category && project?.category?.name">
            <!-- Category:  -->
            <a [ngStyle]="{'background-color': project?.category?.color}" href = 
            "/projects/categories/{{project?.category?.slug}}"
      
          >
          {{ project?.category?.name }}
        </a>
          </div>
          <div style="margin-top: 10px;" *ngIf="project?.tags">
            <!-- Tags: -->
            <span style="margin-right: 3px;"*ngFor="let tag of project?.tags">
              <a [ngStyle]="{'background-color': tag.color}"href =  "/projects/tags/{{tag.slug}}"
            >
            {{ tag.name }}
          </a>
            </span>
          </div>
        </footer>
    </section>
  </article>

  <div>
    <div>
      <button type="button" (click)="goBack()">Back</button>
    </div>
    <div *ngIf="repo">
      <button (click)="toggleRepo()">Toggle Repository</button>
    </div>
    
    <div *ngIf="showRepo && repo">
      <github-user-repos initial-username="samanehesh" initial-repo="GulpProject"></github-user-repos>
      <!-- <github-user-repos initial-username="samanehesh" initial-repo="{{repo}}"></github-user-repos> -->
    </div>
    

  </div>


</div>

<!-- <div>
  <div *ngIf="repo">
    <button (click)="toggleRepo()">Toggle Repository</button>
  </div>
  
  <div *ngIf="showRepo && repo">
    <github-user-repos initial-username="samanehesh" initial-repo="GulpProject"></github-user-repos>
    <github-user-repos initial-username="samanehesh" initial-repo="{{repo}}"></github-user-repos>
  </div>
  
  <div>
    <button type="button" (click)="goBack()">Back</button>
  </div>
</div> -->


