<header>
  <button type="button" (click)="goBack()">Back</button>
</header>
<article class = "oneProject">
  <section class="project-card">
      <img
        *ngIf="project?.image"
        [src]="'assets/images/' + project?.image"
        alt="Image of {{ project?.title }}"
      />
      <div>
        <h2>{{ project?.title | uppercase }}</h2>
        <div>{{ project?.excerpt }}</div>
        <div [innerHTML]="project?.body"></div>

      </div>
  </section>

  <footer>
    <div *ngIf="project?.category && project?.category?.name">
      Category: 
      <a href = 
      "/projects/categories/{{project?.category?.slug}}"

    >
    {{ project?.category?.name }}
  </a>
    </div>
    <div *ngIf="project?.tags">
      Tags:
      <span *ngFor="let tag of project?.tags">
        <a href = 
        "/projects/tags/{{tag.slug}}"
  
      >
      {{ tag.name }}
    </a>
      </span>
    </div>
  </footer>
</article>
