a {
    text-decoration: none;

}
p{
    font-style: italic;
    font-size: medium;
    // background-color:grey;
}
.blue{
    color:blue;
}
.red{
    color:red;
}
.orange{
    color:orange;
}
.yellow{
    color:rgb(121, 121, 29);
}
.green{
    color:green;
}
.indigo{
    color:indigo;
}
.violet{
    color:rgb(209, 88, 209);
}
.orangee{
    color:orangered;
}
.redi{
    color:rgb(176, 56, 56);
}