<article id="tags">
    <h3>Tags</h3>
    <!-- <div *ngFor="let tag of tags" (click)="setTagFilter(tag)">
      {{ tag.name }}
    </div> -->

    <!-- <div *ngFor="let tag of tags" [class.active]="tagFilter && tag.id == tagFilter.id"> -->

    <div *ngFor="let tag of tags" [class.active]="tagFilter && tag.id == tagFilter.id">
        <!-- <a href="#" (click)="setTagFilter(tag)">{{ tag.name }}</a> -->
        <a href = 
        "/projects/tags/{{tag.slug}}"

      >
      {{ tag.name}}
    </a>
      </div>
</article>

  <!-- <div *ngFor="let tag of tags" [class.active]="tagFilter && tag.id == tagFilter.id">
    <a href="#" (click)="setTagFilter(tag)">{{ tag.name }}</a>
  </div> -->
