<div id="resume-container">
    <section class="download">
        <button (click)="DownloadFile()">Download PDF Resume</button>
    </section>

    <!-- <section>
        <accordion [isAnimated]="true">
            <accordion-group heading="Work Experience">
              This content is straight in the template.
            </accordion-group>
            <accordion-group heading="Education">
              <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Certifications">
              <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Skills">
              <p>Some content</p>
            </accordion-group>
          </accordion>
    </section> -->

</div>



