<div id="resume-container">
    <section class="download">
        <button (click)="DownloadFile()">Download PDF Resume</button>
    </section>

    <section style="margin-top: 20px;">
      <div ngbAccordion>

        <div ngbAccordionItem >
          <h2 ngbAccordionHeader >
            <button class="item" ngbAccordionButton>Work Experience</button>
          </h2>
          <div ngbAccordionCollapse>
            <div class = "acBody" ngbAccordionBody>
              <div>
                <p class = "r-title">Electrical Desiner</p>
                <p class = "company" >WGW Engineering Ltd</p>
                <ul>
                  <li>Content for the first item</li>
                  <li>Content for the second item</li>
                </ul>
              </div>
              <hr>
              <div>
                <p class = "r-title">Control System Engineer</p>
                <p class = "company" >Kara Ravesh Saba</p>
                <ul>
                  <li>Content for the first item</li>
                  <li>Content for the second item</li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button class="item" ngbAccordionButton>Education</button>
          </h2>
          <div ngbAccordionCollapse>
            <div class = "acBody" ngbAccordionBody>
              <div>
                <p class = "r-title">Msc in Electrical Engineering</p>
                <p class = "company">K.N.Toosi University, Iran</p>
              </div>
              <hr>
              <div>
                <p class = "r-title">Bsc in Electrical Engineering</p>
                <p class = "company">AmirKabir University, Iran</p>
              </div>            
            </div>
          </div>
        </div>


      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button class="item" ngbAccordionButton>Certifications</button>
        </h2>
        <div ngbAccordionCollapse>
          <div class = "acBody" ngbAccordionBody>
            <div>
              <p class = "r-title">Software Systems Developer - SSD</p>
              <p class = "company">British Columbia Institute of Technology - BCIT</p>
            </div>
            <hr>
            <div>
              <p class = "r-title">Applied Software System</p>
              <p class = "company">British Columbia Institute of Technology - BCIT</p>
            </div>
            <hr>
            <div>
              <p class = "r-title">Electrical Engineer in Training - EIT</p>
              <p class = "company">Engineers and Geoscientists BC - EGBC</p>
            </div>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button class="item" ngbAccordionButton>Skills</button>
        </h2>
        <div ngbAccordionCollapse>
          <div class = "acBody skills" ngbAccordionBody>
            <div>
              <p class = "r-title">Programmin Languages</p>
              <!-- <p class = "company" >WGW Engineering Ltd</p> -->
              <ul>
                <li>C#</li>
                <li>Python</li>
                <li>JavaScript</li>
                <li>Kotlin</li>
              </ul>
            </div>
            <hr>

            <div>
              <p class = "r-title">Frameworks</p>
              <!-- <p class = "company" >WGW Engineering Ltd</p> -->
              <ul>
                <li>Angular</li>
                <li>React</li>
                <li>ASP.NET</li>
                <li>Node.js</li>
              </ul>
            </div>
            <hr>

            <div>
              <p class = "r-title">Other Skills</p>
              <!-- <p class = "company" >WGW Engineering Ltd</p> -->
              <ul>
                <li>Source Control - Git</li>
                <li>MVC Architecture</li>
                <li>HTML-CSS-SASS</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      </div>
    </section>
</div> 


<!-- <div ngbAccordion>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>First</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>Content for the first item</ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>second</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>Content for the second item</ng-template>
      </div>
    </div>
  </div>
</div> -->




    <!-- <section>
        <accordion>
            <accordion-group heading="Work Experience">
              This content is straight in the template.
            </accordion-group>
            <accordion-group heading="Education">
              <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Certifications">
              <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Skills">
              <p>Some content</p>
            </accordion-group>
          </accordion>
    </section> -->
    <!-- <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>First</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Content for the first item</ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>second</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Content for the second item</ng-template>
          </div>
        </div>
      </div>
    </div>
</div> -->



