<div id="resume-container">
    <section class="download">
        <button (click)="DownloadFile()">Download PDF Resume</button>
    </section>

    <!-- <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Static Header
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This content is straight in the template.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Another group
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Some content</p>
        </mat-expansion-panel>
    </mat-accordion> -->
</div>
